*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-size: 30px;
    color: rgb(103, 42, 214);
    text-align: center;
}

p{
    background-image: linear-gradient(to right, rgb(8, 97, 78), rgb(156, 35, 150));
    font-size: 25px;
    text-transform: uppercase;
    /* Flex Box */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Deixa o texto tranparente para receber o degrade */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}